doctype 5

- load compress
- load staticfiles
- load i18n static

html(lang="es")
  head
    meta(charset="utf-8")
    title Project {% block title %} {%endblock%}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="http://magnet.cl")

    link(
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css",
      rel="stylesheet"
    )

    //if lte IE 7
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

    //if lt IE 9
      script(src="{% static 'bower_components/respond/respond.min.js' %}")

    {% compress css %}
    link(
      type="text/x-scss", rel="stylesheet", href="{% static 'css/bootstrap.scss' %}",
      charset="utf-8"
    )
    link(
      type="text/x-scss", rel="stylesheet", href="{% static 'css/site.scss' %}",
      charset="utf-8"
    )
    {% endcompress %}

    {% compress css %}
    block stylesheets
    {% endcompress %}

  body(class='{{body_class|default:""}}')
    div
      {% include 'includes/navbar.pug' %}
      div.container
        div.row
          {% if messages %}
          {% for message in messages %}
          div(class="alert alert-{{ message.tags }}") {{ message }}
          {% endfor %}
          {% endif %}
      div.container
        block content

      // Javascript Placed at the end of the document so the pages load faster
      // uncompressible javascripts
      if not debug
        script(src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(
          src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js",
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa",
          crossorigin="anonymous"
        )

      block uncompressible_javascripts

      {% compress js %}
      if debug
        script(src="{% static 'dist/jquery.min.js' %}")
        script(src="{% static 'bootstrap-sass/assets/javascripts/bootstrap.min.js' %}")
      {% endcompress %}

      block javascript_data

      {% compress js %}
      block javascripts
      {% endcompress %}
