- load i18n

header
  // Fixed navbar
  nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    a.navbar-brand(href="{% url 'home' %}") Project
      i.fa.fa-spinner.fa-spin.page-loading-icon
    button.navbar-toggler(
      type='button',
      data-toggle='collapse',
      data-target='#navbarCollapse',
      aria-controls='navbarCollapse',
      aria-expanded='false',
      aria-label='Toggle navigation'
    )
      span.navbar-toggler-icon

    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        if user.is_authenticated
          if user.is_staff
            {% include 'includes/navbar_link.pug' with url_name='admin:index' verbose_name='Administration' %}

          {% include 'includes/navbar_link.pug' with url_name='status' verbose_name='status' %}

          {% include 'includes/navbar_link.pug' with url_name='user_list' verbose_name='users' %}

      ul.navbar-nav
        if user.is_authenticated
          li.nav-item.dropdown
            a#dropdown-logged-in.nav-link.dropdown-toggle(
              href='#',
              data-toggle='dropdown',
              aria-haspopup='true',
              aria-expanded='false'
            ) {% trans 'Logged in as' %} {{user.email}}
            .dropdown-menu(aria-labelledby='dropdown-logged-in')
              a.dropdown-item(href="{% url 'user_profile' %}")
                {% trans 'My profile' %}
              a.dropdown-item(href="{% url 'password_change' %}")
                {% trans 'Change password' %}
              if request.session.loginas_from_user
                a.dropdown-item(href="{% url 'loginas-logout' %}")
                  {% trans 'Logout' %}
              else
                a.dropdown-item(href="{% url 'logout' %}")
                  {% trans 'Logout' %}

        else
          {% include 'includes/navbar_link.pug' with url_name='login' verbose_name='login' %}
