doctype 5

- load compress
- load staticfiles
- load i18n static

html(lang="es")
  head
    if google_analytics_code
      // Global site tag (gtag.js) - Google Analytics
      script(
        async,
        src="https://www.googletagmanager.com/gtag/js?id={{google_analytics_code}}"
      )
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{google_analytics_code}}');


    meta(charset="utf-8")
    title Project {% block title %}{% if title%}- {{title}}{% endif %}{%endblock%}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="http://magnet.cl")

    script(defer, src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")

    //if lte IE 7
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

    //if lt IE 9
      script(src="{% static 'bower_components/respond/respond.min.js' %}")

    {% compress css %}
    link(
      type="text/x-scss",
      rel="stylesheet",
      href="{% static 'css/bootstrap.scss' %}",
      charset="utf-8"
    )
    link(
      type="text/x-scss", rel="stylesheet", href="{% static 'css/site.scss' %}",
      charset="utf-8"
    )
    link(
      href="{% static 'select2/dist/css/select2.min.css' %}",
      rel="stylesheet"
    )
    link(
      href="{% static 'tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css' %}",
      rel="stylesheet"
    )
    {% endcompress %}

    block stylesheets

  body(class='{{body_class|default:""}}')
    div
      {% include 'includes/navbar.pug' %}
      main(role="main")
        .container
          div.main-alert.fixed-notification
            {% if messages %}
            {% for message in messages %}
            div(class="alert alert-{{ message.tags }}") 
              button.close(type="button", data-dismiss="alert", aria-label="Close")
                span.i.fa.fa-times
                  | 
              {{ message }}
            {% endfor %}
            {% endif %}
        .container
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              if request.path == '/'
                li.breadcrumb-item.active(aria-current='page') 
                  a(href="{% url 'home' %}") 
                    {% trans 'Home' %}
              else
                li.breadcrumb-item
                  a(href="{% url 'home' %}") 
                    {% trans 'Home' %}

              block breadcrumbs

              if title
                li.breadcrumb-item.active(aria-current='page') {{title}}
        .container
          block content_title 
            .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
              h1 {{ title }}
              .btn-toolbar.mb-2.mb-md-0
                .btn-group.mr-2
                  block options
          block content

      {% include 'includes/footer.pug' %}


      // Javascript Placed at the end of the document so the pages load faster
      // uncompressible javascripts
      if not debug
        script(src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")

        script(
          src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js",
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q",
          crossorigin="anonymous"
        )

        script(
          src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js",
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl",
          crossorigin="anonymous"
        )
      block uncompressible_javascripts

      if debug
        script(src="{% static 'jquery/dist/jquery.min.js' %}")
        // bootstrap bundle includes popper
        script(src="{% static 'bootstrap/dist/js/bootstrap.bundle.js' %}")

      // templates TODO: this is an example of pug templates, delete this
      {% compress js %}
      script(type="text/pug", src="{% static 'templates/users/list.pug' %}")
      script(type="text/pug", src="{% static 'templates/users/detail.pug' %}")
      {% endcompress %}

      block javascripts

      {% compress js %}
      script(src="{% static 'moment/min/moment-with-locales.min.js' %}")
      script(src="{% static 'select2/dist/js/select2.min.js' %}")
      script(src="{% static 'tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js' %}")
      script(src="{% static 'js/app.js' %}")
      script(src="{% static 'js/forms.js' %}")
      {% endcompress %}
