doctype 5

- load compress
- load staticfiles
- load i18n static

html(lang="es")
  head
    if google_analytics_code
      // Global site tag (gtag.js) - Google Analytics
      script(
        async,
        src="https://www.googletagmanager.com/gtag/js?id={{google_analytics_code}}"
      )
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{google_analytics_code}}');


    meta(charset="utf-8")
    title Project {% block title %}{% if title%}- {{title}}{% endif %}{%endblock%}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="http://magnet.cl")

    script(defer, src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")

    //if lte IE 7
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

    //if lt IE 9
      script(src="{% static 'bower_components/respond/respond.min.js' %}")

    {% compress css %}
    link(
      type="text/x-scss", rel="stylesheet", href="{% static 'css/bootstrap.scss' %}",
      charset="utf-8"
    )
    link(
      type="text/x-scss", rel="stylesheet", href="{% static 'css/site.scss' %}",
      charset="utf-8"
    )
    {% endcompress %}

    link(
      href="{% static 'eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}",
      rel="stylesheet"
    )

    {% compress css %}
    block stylesheets
    {% endcompress %}

  body(class='{{body_class|default:""}}')
    div
      {% include 'includes/navbar.pug' %}
      div.container
        div.row
          {% if messages %}
          {% for message in messages %}
          div(class="alert alert-{{ message.tags }}") {{ message }}
          {% endfor %}
          {% endif %}
      div.container
        ol.breadcrumb
          li
            a(href="{% url 'home' %}") 
              {% trans 'Home' %}
          block breadcrumbs
          if title
            li {{title}}
        block content_title 
          h1 {{ title }}
        block content

      // Javascript Placed at the end of the document so the pages load faster
      // uncompressible javascripts
      if not debug
        script(src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(
          src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js",
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa",
          crossorigin="anonymous"
        )

      block uncompressible_javascripts

      {% compress js %}
      if debug
        script(src="{% static 'jquery/dist/jquery.min.js' %}")
        script(src="{% static 'bootstrap-sass/assets/javascripts/bootstrap.min.js' %}")
      {% endcompress %}

      // templates

      {% compress js %}
      script(type="text/pug", src="{% static 'templates/users/list.pug' %}")
      script(type="text/pug", src="{% static 'templates/users/detail.pug' %}")
      {% endcompress %}

      block javascript_data

      {% compress js %}
      block javascripts
      script(src="{% static 'moment/min/moment-with-locales.min.js' %}")
      script(src="{% static 'eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}")
      script(src="{% static 'js/forms.js' %}")
      {% endcompress %}
