extends base.pug

- load i18n static
- load url from future

block title
  {% trans 'Password change' %}

block javascripts
  script(type="text/javascript")
    document.getElementById("id_old_password").focus();

block content

  #content-main

    h1 {% trans 'Password change' %}

    - if form.errors
        p.errornote
          {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}

    p {% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}

    .row
      .col-sm-7.col-sm-offset-1
        form.form-signin.form-horizontal(action="",
          method='post')
          {% csrf_token %}

          fieldset.module.aligned.wide

            .form-group(class="{% if form.old_password.errors %}has-error{% endif %}")
              label.control-label.col-sm-4.required(for='id_old_password') 
                {% trans 'Old password' %}:

              .col-sm-8
                input#id_old_password.form-control(name='old_password', type='password',
                  placeholder="{% trans 'Old password' %}")
                span.help-inline.help-block {{ form.old_password.errors|striptags }}

            .form-group(class="{% if form.new_password1.errors %}has-error{% endif %}")
              label.control-label.col-sm-4.required(for='id_new_password1') 
                {% trans 'New password' %}:

              .col-sm-8
                input#id_new_password1.form-control(name='new_password1', type='password',
                  placeholder="{% trans 'New password' %}")
                span.help-inline.help-block {{ form.new_password1.errors|striptags }}

            .form-group(class="{% if form.new_password2.errors %}has-error{% endif %}")
              label.control-label.col-sm-4.required(for='id_new_password2') 
                {% trans 'Password (again)' %}:

              .col-sm-8
                input#id_new_password2.form-control(name='new_password2', type='password',
                  placeholder="{% trans 'Password (again)' %}")
                span.help-inline.help-block {{ form.new_password2.errors|striptags }}

          .form-group
            .col-sm-12.text-right
              input.btn.btn-primary(type='submit', value="{% trans 'Change my password' %}")
