extends base.pug

- load i18n static

block javascripts
  script(type="text/javascript")
    document.getElementById("id_old_password").focus();

block content
  if form.errors
    .alert.alert-danger
      {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}

  .alert.alert-info
    {% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}

  form.form-signin(action="", method='post')
    {% csrf_token %}
    fieldset
      .row
        .col-sm-6

          .form-group(class="{% if form.old_password.errors %}has-error{% endif %}")
            label.control-label.required(for='id_old_password')
              {% trans 'Old password' %}:

            input#id_old_password.form-control(name='old_password', type='password',
              placeholder="{% trans 'Old password' %}")
            span.help-block.text-right(for="id_{{form.old_password.name}}")
              {{ form.old_password.errors|striptags }}

      .row
        .col-sm-6
          .form-group(class="{% if form.new_password1.errors %}has-error{% endif %}")
            label.control-label.required(for='id_new_password1')
              {% trans 'New password' %}:

            input#id_new_password1.form-control(name='new_password1', type='password',
              placeholder="{% trans 'New password' %}")
            span.help-inline.help-block {{ form.new_password1.errors|striptags }}
        .col-sm-6
          small.form-text.text-muted(
            id="{{form.new_password.name}}_help"
          )
            {{ form.new_password1.help_text|safe }}

      .row
        .col-sm-6
          .form-group(class="{% if form.new_password2.errors %}has-error{% endif %}")
            label.control-label.required(for='id_new_password2')
              {% trans 'Password (again)' %}:

            input#id_new_password2.form-control(name='new_password2', type='password',
              placeholder="{% trans 'Password (again)' %}")
            span.help-inline.help-block {{ form.new_password2.errors|striptags }}
        .col-sm-6
          {{ form.new_password2.help_text|safe }}

      .row
        .col-sm-6
          .form-group
            .text-right
              input.btn.btn-primary(type='submit', value="{% trans 'Change my password' %}")
